{% extends "layout.html" %}

{% block y %}
	<head>
        <link rel="stylesheet" href="/static/css/s.css" />
        <script type="text/javascript" src="/static/js/controller.js"></script>
		<!--<meta name="viewport" content="initial-scale=1, width=device-width">-->
		<title>catnet</title>
	</head>
	<body>
        <div class="mainheader">
            <h1>yeet</h1>
        </div>
        <div id="zone" class="zone">

        </div>
        <div class="printout">
            <p id="print"></p>
	    <button id="jizzer" onclick="defaultpos">default pos</button>
            <input id="manX" value=".5">
            <input id="manY" value=".5">
            <button id="nag" onclick="testpos">test pos</button>
        </div>
        <script type="text/javascript" >controller();</script>
{% endblock %}
