{% extends "layout.html" %}

{% block y %}
	<head>
        <link rel="stylesheet" href="/static/css/s.css" />
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<title>catnet</title>
	</head>
	<body>
        <div class="mainheader">
            <h1>yeet</h1>
        </div>
        <div id="zone" class="zone">

        </div>
        <div class="printout">
            <p id="print"></p>
        </div>
        <script type="text/javascript" src="static/js/controller.js">
{% endblock %}
